<div class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
        <div class="card card-home">
            <div class="card-content">
                <p>
                    Do you suck at making friends? Do you want to pretend that sites like this might actually work? Well you're in 
                    luck! Try out this completely free friend finder! Answer 10 questions and will try to match you with a friend 
                    that has similar intrests? How can we tell you'll be friends? We can't! We just hope that similar intrests are 
                    enough to work!
                </p>

                <div class="card-action center-align">
                    <a class="waves-effect waves-light btn-large blue yellow-text find-btn" href="/survey">Find a
                        Friend!</a>
                </div>
            </div>
        </div>
    </div>
</div>